<%= form_for [ @customer, Address.new ] do |f| %>


          <p> 
               <%= f.label :permanant_addr, "New Address" %><br/>
               <%= f.text_area :permanant_addr, :col => 25, :rows => 5  %></p>

              
               <%= f.hidden_field :customer_id , value: params[:id] %></p>            

         <p><%= f.submit "Add Address"  %></p>



<% end %>