<div class="form">
<div class="col-sm-12">
<%= form_for(@customer) do |f| %>
  
<p>customer details</p>
<hr>
<div class="row">
  <div class="field form-group">
    <div class="col-md-12">
    <%= f.label "First Name:" %>
    <%= f.text_field :fname %>

    <%= f.label "Last Name:" %>
    <%= f.text_field :lname %>
  </div>
</div>
</div>

<br>

<div class="row">
  <div class="field form-group">
    <div class="col-sm-12">
    <%= f.label "Email Id:" %>
    <%= f.text_field :email %>
  
    <%= f.label "Contact Number:" %>
    <%= f.text_field :contact_no %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="field">
    <div class="col-sm-12">
    <%= f.label "BirthDate" %>
    <%= f.text_field :birthdate , :id => "example1" , class: "datepicker" , required: true %>
    </div>
  </div>
</div>

<br>
<!-- Address Form -->
  <%= f.fields_for :addresses do |address| %>
    <%#= render 'addressform' , locals: @address %>

    <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
        <div class="col-md-12">
        <%= address.label "Permanant Address:" %>
        <%= address.text_field :permanant_addr %>
      
        <%= address.label "Office Address:" %>
        <%= address.text_field :office_addr %>
      </div>
      </div>
    </div>
  </div>

<br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Temparary Address:" %>
          <%= address.text_field :temparary_addr %>

          <%= address.label "City:" %>
          <%= address.text_field :city %>
        </div>
      </div>
    </div>
  </div>

<br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "State:" %>
          <%= address.text_field :state %>
        </div>
      </div>
    </div>
  </div>

<br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Country" %>
          <%= address.country_select :country , class: "dropdown" , required: true %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">  
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Pin Code:" %>
          <%= address.text_field :pin_code %>
        </div>
      </div>
    </div>
  </div>

  <% end %>

<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
</div>
</div>