<h1>Listing customers</h1>
<div class="table-responsive">
<table class="table table-hover">
  <thead align="center">
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      <th>Contact no</th>
      <th>Birthdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fname %></td>
        <td><%= customer.lname %></td>
        <td><%= customer.email %></td>
        <td><%= customer.contact_no %></td>
        <td><%= customer.birthdate %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Customer', new_customer_path %>
