<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @customer.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @customer.contact_no %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @customer.birthdate %>
</p>
<hr>
<h5>Customer Address Details</h5>
<% if @customer.addresses.any? %>
<%#= raise @customer.inspect %>
  <ul>
    <% @customer.addresses.each do |adr| %>
    <%#= raise params.inspect%>
      <li> <%= adr.permanant_addr %></li>  
      <li> <%= adr.office_addr %></li>  
      <li> <%= adr.temparary_addr %></li>  
      <li> <%= adr.city %></li>  
      <li> <%= adr.state %></li>  
      <li> <%= adr.country %></li>  
    <% end %>
  </ul>
<% else %>
  <p>none available</p>
<% end %>
<hr>

<%= render 'order' , locals: @customer %>
<br>
<hr>
<%= link_to 'Edit', edit_customer_path(@customer) , class: "btn btn-link" %> |
<%= link_to 'Back', customers_path,class: "btn btn-link" %>
