<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @customer.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @customer.contact_no %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @customer.birthdate %>
</p>
<hr>
<h5>Customer Address Details</h5>
<% if @customer.addresses.any? %>
<%#= raise @customer.inspect %>

    <% @customer.addresses.each do |adr| %>
    <%#= raise params.inspect%>
    <hr>
    <p><strong>Permanant Address:</strong>
       <%= adr.permanant_addr %>
    </p> 
    
    <p><strong>Office Address:</strong>
       <%= adr.office_addr %>
    </p>
    
    <p><strong>Temparary Address:</strong>
       <%= adr.temparary_addr %></p>
    
    <p><strong>City:</strong>  
       <%= adr.city %> </p>
    
    <p><strong>State</strong>
       <%= adr.state %></p>
    
    <p><strong>Country:</strong>  
       <%= adr.country %></p>  
    <% end %>
<% else %>
  <p>none available</p>
<% end %>


<hr>

<%= render 'order' , locals: @customer %>
<br>
<hr>
<%= link_to 'Edit', edit_customer_path(@customer) , class: "btn btn-link" %> |
<%= link_to 'Back', customers_path,class: "btn btn-link" %>
