<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>Order Details</p>
  <hr>
  <div class="row">
    <div class="field">
      <div class="col-md-4">
        <%= f.label :order_no %>
        <%= f.text_field :order_no %>
      </div>

      <div class="col-md-4">
        <%= f.label :tracking_no %>
        <%= f.number_field :tracking_no %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="field">
      <div class="col-md-12">
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <div class="col-md-4">
        <%= f.label :delivery_date %>
        <%= f.date_select :delivery_date %>
      </div>
      <div class="col-md-4">
        <%= f.label :order_value %>
        <%= f.text_field :order_value %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <div class="col-md-12">
              </div>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <div class="col-md-4">
        <%= f.check_box :is_express_delivery %>
        <%= f.label :is_express_delivery %>
      </div>
      <div class="col-md-4">
        <%= f.check_box :is_customer_pickup %>
        <%= f.label :is_customer_pickup %>
      </div>
    </div>
  </div>

  <hr>

    <%#= f.select 'customer_id', options_for_select(@customers.collect{ |u| [u.email, u.id] }) %>
     <div id="customer_detail">
      <%= f.collection_select :customer_id,@customers,:id,:email,include_blank: true%>
    </div>
   <!-- <div id="get_customer"></div>
    <div id="get_address"></div> -->

    <%#= render 'customer' %>
  <!--=========================-->
  <!-- Customer Form -->

  <%= f.fields_for :customer do |c| %>
    <p>customer details</p>
    <hr>

    <div class="row">
      <div class="field">
        <div class="col-md-4">
          <%= c.label "First Name:" %>
          <%= c.text_field :fname %>
        </div>
        <div class="col-md-4">
          <%= c.label "Last Name:" %>
          <%= c.text_field :lname %>
        </div>
      </div>
    </div>

      <br>

    <div class="row">
      <div class="field">
        <div class="col-md-4">
          <%= c.label "Email Id:" %>
          <%= c.text_field :email %>
        </div>
        <div class="col-md-4">
          <%= c.label "Contact Number:" %>
          <%= c.text_field :contact_no %>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="field">
        <div class="col-md-4">
          <%= c.label "BirthDate" %>
          <%= c.date_select :birthdate %>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <!-- Address Form -->
  <%= f.fields_for :address do |address| %>
    <%#= render 'address'%>
    <div class="row">
      <div class="addresses_field">
        <div class="field form-group">
          <div class="col-md-12">
            <%= address.label "Permanant Address:" %>
            <%= address.text_field :permanant_addr %>
      
            <%= address.label "Office Address:" %>
            <%= address.text_field :office_addr %>
          </div>
        </div>
      </div>
    </div>

    <br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Temparary Address:" %>
          <%= address.text_field :temparary_addr %>

          <%= address.label "City:" %>
          <%= address.text_field :city %>
        </div>
      </div>
    </div>
  </div>

    <br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "State:" %>
          <%= address.text_field :state %>
        </div>
      </div>
    </div>
  </div>

    <br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Country" %>
          <%= address.country_select :country , class: "dropdown" , required: true %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">  
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Pin Code:" %>
          <%= address.text_field :pin_code %>
        </div>
      </div>
    </div>
  </div>
<%end %>

  <hr>
  <!-- Select Product --> 
  
  <h5>Add Products</h5>
  <%= f.fields_for :line_items do |p| %>
    <div class="line_items_field">
      <div class="field" id="products">
      <%= f.collection_select :product_id, @products , :id, :name , {:required => true} , :multiple => true  %>
      </div>
    </div>

    <div class="line_items_field">
      <div class="field">
        <%= p.label "Product Name"%>
        <%= p.text_field :name %>
      </div>
    </div>

    <div class="line_items_field">
      <div class="field">
        <%= p.label :sku %>
        <%= p.text_field :sku %>
      </div>
    </div>

      <div class="line_items_field">
        <div class="field">
          <%= p. label "Quantity"%>
          <%= p.text_field :quantity %>
        </div>
      </div>

      <div class="line_items_field">
        <div class="field">
          <%= p.label "price"%>
          <%= p.text_field :price %>
        </div>
      </div>
  <% end %>
    <br>


    <hr>

  <div class="actions" align="center">
    <%= f.submit "Place Order", class: "btn btn-success"  %>
  </div>
<% end %>