<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>Order Details</p>
<hr>
  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no %>
  </div>
  <div class="field">
    <%= f.label :tracking_no %><br>
    <%= f.number_field :tracking_no %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br>
    <%= f.date_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :order_value %><br>
    <%= f.text_field :order_value %>
  </div>


  <div class="field">
    <%= f.check_box :is_express_delivery %>
    <%= f.label :is_express_delivery %>
    <br>
    
    <%= f.check_box :is_customer_pickup %>
    <%= f.label :is_customer_pickup %>
  </div>
<hr>
<%= @collections = f.collection_select :customer_id , Customer.all, :id, :email, include_blank: true %>
    <% if @order.customer.email %>
      <%= @order.address.permanant_addr %>
    <% end %>
 <hr>
  <!--form for customer details -->
  <%= f.fields_for :customer do |c| %>
    <p>customer details</p>
    <hr>
    <div class="row">
      <div class="field form-group">
        <div class="col-md-12">
          <%= c.label "First Name:" %>
          <%= c.text_field :fname %>

          <%= c.label "Last Name:" %>
          <%= c.text_field :lname %>
        </div>
      </div>
    </div>

      <br>

    <div class="row">
      <div class="field form-group">
        <div class="col-sm-12">
          <%= c.label "Email Id:" %>
          <%= c.text_field :email %>
  
          <%= c.label "Contact Number:" %>
          <%= c.text_field :contact_no %>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="field">
        <div class="col-sm-12">
          <%= c.label "BirthDate" %>
          <%= c.date_select :birthdate %>
        </div>
      </div>
    </div>
  <% end %>
  <br>
<!-- Address Form -->
  <%= f.fields_for :address do |address| %>
    <%#= render 'address'%>
    <div class="row">
      <div class="addresses_field">
        <div class="field form-group">
          <div class="col-md-12">
            <%= address.label "Permanant Address:" %>
            <%= address.text_field :permanant_addr %>
      
            <%= address.label "Office Address:" %>
            <%= address.text_field :office_addr %>
          </div>
        </div>
      </div>
    </div>

    <br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Temparary Address:" %>
          <%= address.text_field :temparary_addr %>

          <%= address.label "City:" %>
          <%= address.text_field :city %>
        </div>
      </div>
    </div>
  </div>

<br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "State:" %>
          <%= address.text_field :state %>
        </div>
      </div>
    </div>
  </div>

<br>

  <div class="row">
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Country" %>
          <%= address.country_select :country , class: "dropdown" , required: true %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">  
    <div class="addresses_field">
      <div class="field form-group">
         <div class="col-md-12">
          <%= address.label "Pin Code:" %>
          <%= address.text_field :pin_code %>
        </div>
      </div>
    </div>
  </div>
<%end %>


  <hr>
  <!-- Select Product --> 

  
  <h5>Add Products</h5>
  <%= f.fields_for :lineitems do |p| %>
    <div class="lineitems_field">
      <div class="field">
        <%= p.label "Product Name"%>
        <%= p.text_field :name %>
      </div>
    </div>

    <div class="lineitems_field">
      <div class="field">
        <%= p.label :sku %>
        <%= p.text_field :sku %>
      </div>
    </div>

      <div class="lineitems_field">
        <div class="field">
          <%= p. label "Quantity"%>
          <%= p.text_field :quantity %>
        </div>
      </div>

      <div class="lineitems_field">
        <div class="field">
          <%= p.label "price"%>
          <%= p.text_field :price %>
        </div>
      </div>
  <% end %>
<br>


<hr>

  <div class="actions" align="center">
    <%= f.submit "Place Order", class: "btn btn-success"  %>
  </div>
<% end %>