<div class="table-responsive">
<table class="table table-hover">
  <thead align="center">
    <tr>
      <th>Order no</th>
      <th>Tracking no</th>
      <th>Delivery date</th>
      <th>Order value</th>
      <th>Is express delivery</th>
      <th>Is customer pickup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.order_no , order , class: "btn btn-link" %></td>
        <td><%= order.tracking_no %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.order_value %></td>
        <td><%= order.is_express_delivery %></td>
        <td><%= order.is_customer_pickup %></td>
        <td><%= link_to 'Order Details', order , class: "btn btn-link" %></td>
        <td><%#= link_to 'Edit', edit_order_path(order) %></td>
        <td><%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%#= link_to 'Cart', lineitems_path(@lineitem) , class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>



<%= link_to new_order_path, class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-plus"></i> New Order
<% end %><t>
