<h1>Listing addresses</h1>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Permanant addr</th>
      <th>Office addr</th>
      <th>Temparary addr</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.permanant_addr %></td>
        <td><%= address.office_addr %></td>
        <td><%= address.temparary_addr %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.country %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to new_address_path, class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-plus"></i> New Address
<% end %><t>
